<!doctype html>
<html lang="en" class="govuk-template app-no-canvas-background">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="application-name" content="Notifikácie o COVID-19 vakcinácii"/>
        {% block title %}<title>{{ title|default("Notifikácie o COVID-19 vakcinácii") }}</title>{% endblock %}
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
        <link rel="preload" href="{{ url_for('static', filename='webfonts/fa-regular-400.woff2') }}" as="font"
              crossorigin>
        <link rel="preload" href="{{ url_for('static', filename='webfonts/fa-solid-900.woff2') }}" as="font"
              crossorigin>
        <link rel="preload" href="{{ url_for('static', filename='webfonts/fa-brands-400.woff2') }}" as="font"
              crossorigin>
        {% assets "css_libs", "css_mine" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}?{{ get_release() }}">
        {% endassets %}
        {% assets "js_libs", "js_mine" %}
            <script type="text/javascript" src="{{ ASSET_URL }}?{{ get_release() }}"></script>
        {% endassets %}
        {% if g.embed %}
            <script type="text/javascript" src="{{ url_for("static", filename="lib/iframeResizer.contentWindow.min.js") }}?{{ get_release() }}"></script>
        {% endif %}
        <script type="text/javascript">
            let envs = {
                "covid-dev.neuromancer.sk": "staging",
                "covid.neuromancer.sk": "production",
                "localhost.localdomain": "development",
                "korona.gov.sk": "production"
            }
            Sentry.init({
                dsn: "{{ config['SENTRY_INGEST'] }}",
                environment: envs[window.location.hostname],
                release: "{{ get_release() }}",
                denyUrls: [
                    "{{ url_for('static', filename='push.js') }}"
                ]
            });
        </script>
    {% endblock %}
</head>

<body class="govuk-template__body">
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
{% if not g.embed %}
    {% include "header.html.jinja2" %}
{% endif %}
<main class="govuk-main-wrapper govuk-!-padding-top-6 govuk-!-padding-bottom-6 govuk-body govuk-!-margin-bottom-0" id="main-content"
      role="main">
    {% block content %}
    {% endblock %}
</main>
{% if not g.embed %}
    {% include "footer.html.jinja2" %}
{% endif %}
<script type="text/javascript">
    window.GOVUKFrontend.initAll();
</script>
</body>

</html>
