<!doctype html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="application-name" content="Notifikácie o COVID-19 vakcinácii"/>
        {% block title %}<title>{{ title|default("Notifikácie o COVID-19 vakcinácii") }}</title>{% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome.min.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='mail.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='sentry.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='sentry.tracing.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='d3-legend.min.js') }}"></script>
        <script type="text/javascript">
            let envs = {
                "covid-dev.neuromancer.sk": "staging",
                "covid.neuromancer.sk": "production",
                "localhost.localdomain": "development"
            }
            console.log(envs[window.location.hostname]);
            Sentry.init({
                dsn: "{{ config['SENTRY_INGEST'] }}",
                environment: envs[window.location.hostname],
                debug: true,
                release: "{{ get_release() }}"
            });
        </script>
    {% endblock %}
</head>

<body class="position-relative">
<div class="d-flex align-items-center mb-5" id="wrapper">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
        <button id="nav-toggle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Otvoriť menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for("main.index") }}"><i class="fas fa-virus"></i> <span class="d-none d-md-inline">Notifikácie o COVID-19 vakcinácii</span><span class="d-sm-none">Domov</span></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{{ url_for('main.spot_subscribe') }}">Voľné miesta</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{{ url_for('main.group_subscribe') }}">Nová skupina</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{{ url_for('main.privacy') }}">Zásady ochrany osobných údajov</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-content-wrapper">
        <div id="content" class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        $('[data-toggle="collapse"]').collapse()
    });
</script>
<footer>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-sm-10 mx-auto">
                <div class="text-center">
                    <a data-rot13="wbual@arhebznapre.fx" class="mail-href text-decoration-none"><i class="fas fa-envelope"></i> <span data-rot13="wbual@arhebznapre.fx" class="mail-inner">ENABLE@JAVASCRIPT</span></a> |
                    <a href="https://github.com/slovensko-help/vaccination-notify" class="text-decoration-none"><i class="fab fa-github"></i> GitHub</a> |
                    <a href="https://neuromancer.sk" class="text-decoration-none"><i class="far fa-copyright"></i> 2021 Ján Jančár</a>
                    <br/>
                    <p class="text-muted">Problémy so službou môžete oznámiť na
                        <a href="https://github.com/slovensko-help/vaccination-notify/issues/new/choose" target="_blank" class="text-decoration-none">linku</a>
                    alebo na <a data-rot13="wbual@arhebznapre.fx" class="mail-href text-decoration-none">emaili</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="https://www.old.korona.gov.sk/covid-19-vaccination-form.php" id="reg-button" target="_blank" title="Kliknite pre formulár NCZI na registráciu na očkovanie." data-toggle="tooltip">
        Registrácia<br>na očkovanie <i class="fas fa-external-link-alt"></i>
    </a>
</footer>
</body>

</html>
