<!doctype html>
<html lang="en" class="govuk-template app-no-canvas-background">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="application-name" content="Notifikácie o COVID-19 vakcinácii"/>
        {% block title %}<title>{{ title|default("Notifikácie o COVID-19 vakcinácii") }}</title>{% endblock %}
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
        <link rel="preload" href="{{ url_for('static', filename='webfonts/fa-regular-400.woff2') }}" as="font"
              crossorigin>
        <link rel="preload" href="{{ url_for('static', filename='webfonts/fa-solid-900.woff2') }}" as="font"
              crossorigin>
        <link rel="preload" href="{{ url_for('static', filename='webfonts/fa-brands-400.woff2') }}" as="font"
              crossorigin>
        {% assets "css_libs", "css_mine" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}?{{ get_release() }}">
        {% endassets %}
        {% assets "js_libs", "js_mine" %}
            <script type="text/javascript" src="{{ ASSET_URL }}?{{ get_release() }}"></script>
        {% endassets %}
        <script type="text/javascript">
            let envs = {
                "covid-dev.neuromancer.sk": "staging",
                "covid.neuromancer.sk": "production",
                "localhost.localdomain": "development"
            }
            Sentry.init({
                dsn: "{{ config['SENTRY_INGEST'] }}",
                environment: envs[window.location.hostname],
                release: "{{ get_release() }}",
                denyUrls: [
                    "{{ url_for('static', filename='push.js') }}"
                ]
            });
        </script>
    {% endblock %}
</head>

<body class="govuk-template__body">
{% include "header.html.jinja2" %}
<div class="app-pane-lgray govuk-!-padding-top-3">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body">
                    <strong>Od 17. februára sa menia karanténne povinnosti pre osoby vstupujúce na územie SR.</strong>
                    Ruší sa aj zoznam menej rizikových krajín. Všetky dôležité zmeny vrátane výnimiek si môžete prečítať
                    <a href="https://wpkorona.lamer.sk/wp-content/uploads/2021/02/ciastka_26_2021.pdf"
                       class="govuk-link" target="_self" title=" v novej vyhláške ÚVZ SR č. 64 (PDF, 310 kB)."> v novej
                        vyhláške ÚVZ SR č. 64 (PDF, 310 kB).</a></p>
            </div>
        </div>
    </div>
</div>
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list"><span><li class="govuk-breadcrumbs__list-item"><a
                href="/" class="govuk-breadcrumbs__link">Domov</a></li>  <li
                class="govuk-breadcrumbs__list-item"><a href="/vakcinacne-miesta/"
                                                        class="govuk-breadcrumbs__link">Vakcinačné miesta</a></li></span>
        </ol>
    </div>
</div>
<main class="govuk-main-wrapper govuk-!-padding-top-6 govuk-!-padding-bottom-6 govuk-body" id="main-content"
      role="main">
    {% block content %}
    {% endblock %}
</main>
{% include "footer.html.jinja2" %}

<script type="text/javascript">
    window.GOVUKFrontend.initAll();
</script>
</body>

</html>
