{% extends "base.html.jinja2" %}
{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl"><i class="fas fa-check-circle"></i> OK</h1>
                <p class="govuk-body-lead">
                    Na email {{ email }} bol zaslaný potvrdzovací email. Potvrdenie žiadosti o notifikácie kliknutím na link v emaili je potrebné na získavanie notifikacii.
                    Na potvrdenie žiadosti máte 7 dní po ktorých jej platnosť vyprší a Vaša žiadosť o odber notifikácii ako aj vaše osobné údaje (emailová adresa) budú vymazané.
                    Skontrolujte aj priečinok <strong>SPAM</strong> do ktorého sa potvrdzovací email mohol dostať. Email prichádza z adresy <strong>{{ config['MAIL_DEFAULT_SENDER']}}</strong>.
                </p>
                <a href="{{ url_for('main.index') }}" class="govuk-button">Naspať na domovskú stránku</a>
            </div>
        </div>
    </div>
{% endblock %}