{% extends "base.html.jinja2" %}
{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl"><i class="fas fa-exclamation-triangle"></i> Chyba</h1>
                <p class="govuk-body-lead">
                    {{ error }}
                </p>
                <a href="{{ url_for('main.index') }}" class="govuk-button">Naspäť na domovskú stránku</a>
            </div>
        </div>
    </div>
{% endblock %}