{% extends "base.html.jinja2" %}
{% block content %}
    <div class="row">
        <div class="col-sm-10 mx-auto text-center">
            <h1><i class="fas fa-exclamation-triangle"></i> Chyba</h1>
            <p class="lead">
                {{ error }}
            </p>
            <a href="{{ url_for('main.index') }}" class="btn btn-primary">Naspäť na domovskú stránku</a>
        </div>
    </div>
{% endblock %}