{% extends "base.html.jinja2" %}
{% from "utils.html.jinja2" import places_row %}
{% block content %}
    <div class="row">
        <div class="col-sm-10">
            <h1>Notifikácie o voľných miestach</h1>
            <p class="lead">
                Chcem dostávať notifikácie na email o voľných termínoch na očkovanie vo vybraných očkovacích miestach.
            </p>
        </div>
    </div>
    <div class="row mt-2 mb-5">
        <div class="col-sm-10">
            <div class="card bg-light">
                <div class="card-body">
                    <form id="spot-form" action="{{ url_for('main.spot_subscribe') }}" method="post">
                        {{ form.csrf_token }}

                        <h4>Email</h4>
                        {{ form.email() }}
                        <h4>Mestá</h4>
                        {{ form.places() }}
                        <input type="submit" class="btn btn-primary h-captcha" value="Odoslať" data-sitekey="{{ config["HCAPTCHA_SITEKEY"] }}" data-callback="submitForm"/>
                    </form>
                    <script type="text/javascript">
                        function submitForm(token) {
                            document.getElementById('spot-form').submit();
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    {{ places_row(places, dates) }}
{% endblock %}