{% extends "base.html.jinja2" %}
{% from "utils.html.jinja2" import render_alerts %}
{% block head %}
    {{ super() }}
    <meta property="og:title" content="Notifikácie o COVID-19 vakcinácii"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ url_for('static', filename='img/virus.svg', _external=True) }}"/>
    <meta property="og:image:alt" content="Obrázok vírusu"/>
    <meta property="og:url" content="{{ url_for('main.faq') }}"/>
    <meta property="og:locale" content="sk_SK"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-10 mx-auto">
            <h1><i class="fas fa-file-alt fa-fw"></i> Zoznamy náhradníkov</h1>
            <p class="lead">
                Pre aktuálne informácie o ochorení COVID-19 a opatreniach na Slovensku choďte na <a
                    href="https://korona.gov.sk" rel="noopener"
                    target="_blank">korona.gov.sk</a>.
            </p>
            {{ render_alerts(get_alerts()) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 mx-auto">
            {% for row in substitutes|batch(4) %}
                {% if loop.last %}
                    <div class="row mb-4">
                {% else %}
                    <div class="row mb-2">
                {% endif %}
                    {% for region in row %}
                    <div class="col-sm gy-4">
                        <a href="#k-{{ region['id'] }}" class="text-decoration-none">
                            <div class="card bg-light h-100">
                                <div class="card-body">
                                    <h5 class="card-title fs-5 fw-bold">{{ region["title"] }} kraj</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% for region in substitutes%}
        <div class="row mt-5">
            <div class="col-sm-10 mx-auto">
                <h2 class="mb-3 anchor" id="k-{{ region['id'] }}">{{ region["title"] }} kraj</h2>
                <div class="accordion" id="r-{{ region['id'] }}">
                    {% for hospital in region["hospitals"] %}
                        {% if hospital["contacts"] and hospital["contacts"]["is_accepting_new_registrations"] %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="h-{{ region['id'] }}-{{ hospital['id'] }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#c-{{ region['id'] }}-{{ hospital['id'] }}" aria-expanded="false" aria-controls="c-{{ region['id'] }}-{{ hospital['id'] }}">
                                        {{ hospital["title"] }}
                                    </button>
                                </h2>
                                <div id="c-{{ region['id'] }}-{{ hospital['id'] }}" class="accordion-collapse collapse" aria-labelledby="h-{{ region['id'] }}-{{ hospital['id'] }}"
                                     data-bs-parent="#r-{{ region['id'] }}">
                                    <div class="accordion-body">
                                        {% if hospital["contacts"] %}
                                            {% if hospital["contacts"]["substitutes_link"] %}
                                                Informácie o zozname náhradníkov nájdete na: <a href="{{ hospital["contacts"]["substitutes_link"] }}" rel="noopener" target="_blank">{{ hospital["contacts"]["substitutes_link"] }}</a>.<br/>
                                            {% endif %}
                                            {% if hospital["contacts"]["substitutes_emails"] %}
                                                <b>Email:</b> {% for email in hospital["contacts"]["substitutes_emails"] %}<a href="mailto:{{ email }}">{{ email }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                                                <br/>
                                            {% endif %}
                                            {% if hospital["contacts"]["substitutes_phones"] %}
                                                <b>Telefonický kontakt:</b> {% for phone in hospital["contacts"]["substitutes_phones"] %}<a href="tel:{{ phone }}">{{ phone }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                                                {% if hospital["contacts"]["substitutes_note"] %}, {{ hospital["contacts"]["substitutes_note"] }}{% endif %}
                                                <br/>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
