{% extends "base.html.jinja2" %}
{% block head %}
    {{ super() }}
    <meta property="og:title" content="Notifikácie o COVID-19 vakcinácii"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ url_for('static', filename='virus.svg', _external=True) }}"/>
    <meta property="og:image:alt" content="Obrázok vírusu"/>
    <meta property="og:url" content="{{ url_for('main.spot_subscribe') }}"/>
    <meta property="og:locale" content="sk_SK"/>
    <meta property="og:description" content="Táto stránka poskytuje notifikácie na Váš email o momente otvorenia očkovacieho formuláru pre nové skupiny obyvateľov."/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-10 mx-auto">
            <h1>Notifikácie o novej skupine</h1>
            <p class="lead">
                Chcem dostávať notifikácie na email o otvorení očkovania pre novú skupinu ľudí.
            </p>
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-triangle"></i> Z dôvodu zablokovania služby zo strany NCZI sú notifikácie
                momentálne nedostupné a dáta sa neaktualizujú.
                Môžete sa prihlásiť na odber notifikácii a budete ich dostávať keď sa služba znova rozbehne.
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-5">
        <div class="col-sm-10 mx-auto">
            <div class="card bg-light">
                <div class="card-body">
                    <form id="group-form" action="{{ url_for('main.group_subscribe') }}" method="post">
                        {{ form.csrf_token }}

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            {{ form.email(class_="form-control") }}
                            <div class="form-text">Na tento email Vám budú chodiť notifikácie.</div>
                        </div>
                        <input type="submit" class="btn btn-primary h-captcha" value="Odoslať" data-sitekey="{{ config["HCAPTCHA_SITEKEY"] }}" data-callback="submitForm"/>
                    </form>
                    <script type="text/javascript">
                        function submitForm(token) {
                            document.getElementById('group-form').submit();
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 anchor" id="groups-list">
        <div class="col-sm-10 mx-auto">
            <h2 class="mb-3"><i class="fas fa-users fa-fw"></i> Momentálne otvorené skupiny na očkovanie</h2>
            <b>Posledná aktualizácia</b>: {{ last_stats.datetime.strftime("%d.%m.%Y %H:%M") }}<br/>
            <ul class="mt-4 list-group">
                {% for group in groups %}
                    <li class="list-group-item">{{ group.item_description }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}