{% extends "base.html.jinja2" %}
{% from "utils.html.jinja2" import render_alerts %}
{% block head %}
    {{ super() }}
    <meta property="og:title" content="Notifikácie o COVID-19 vakcinácii"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ url_for('static', filename='img/virus.svg', _external=True) }}"/>
    <meta property="og:image:alt" content="Obrázok vírusu"/>
    <meta property="og:url" content="{{ url_for('main.substitute_lists') }}"/>
    <meta property="og:locale" content="sk_SK"/>
{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl"><i class="fas fa-file-alt fa-fw"></i> Zoznamy náhradníkov</h1>
                <p class="govuk-body-lead">
                    Nemocnice volajú náhradníkov v prípade, že sa nenaplnia všetky voľné miesta na očkovanie v danom termíne, alebo keď sa nedostaví niekto, kto bol zaregistrovaný na konkrétny termín.
                    Je to spôsob, ako sa môžete rýchlejšie dostať k vakcíne vy alebo vaši blízki a zároveň to umožňuje plynulejší postup očkovania, kedy nemocnice dokážu zapĺňať voľné termíny.
                </p>
            </div>
        </div>
    </div>
    {{ render_alerts(get_alerts()) }}
    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-bottom-4">
            <div class="govuk-grid-column-full">
                <p class="govuk-body">
                    Aktuálne sa môžu za náhradníkov hlásiť tieto skupiny:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>ľudia nad 65 rokov</li>
                    <li>osoby so zdravotnými indikáciami (ochorením podľa bodu F písm. b) prvého bodu alebo bodu H písm. b) druhého bodu <a href="https://www.epi.sk/zz/2021-58#prilohy" rel="noopener" target="_blank">https://www.epi.sk/zz/2021-58#prilohy</a>)</li>
                    <li>osoby s ťažkým zdravotným postihnutím.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% for row in substitutes|batch(4) %}
                    {% if loop.last %}
                        <div class="govuk-grid-row row-with-gray-boxes govuk-!-margin-bottom-2">
                    {% else %}
                        <div class="govuk-grid-row row-with-gray-boxes govuk-!-margin-bottom-4">
                    {% endif %}
                        {% for region in row %}
                        <div class="govuk-grid-column-one-quarter">
                            <div class="govuk-!-margin-bottom-6 app-pane-gray govuk-!-padding-top-4 govuk-!-padding-bottom-2 govuk-!-padding-right-4 govuk-!-padding-left-4">
                                <a href="#k-{{ region['id'] }}" style="text-decoration: none">
                                    <h3 class="govuk-heading-m">{{ region["title"] }} kraj</h3>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for region in substitutes%}
        <div class="govuk-width-container">
            <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l anchor" id="k-{{ region['id'] }}">{{ region["title"] }} kraj</h2>
                    <div class="govuk-accordion" id="r-{{ region['id'] }}" data-module="govuk-accordion" data-attribute="value">
                        {% set hid = 1 %}
                        {% for hospital in region["hospitals"] %}
                            {% if hospital["contacts"] and hospital["contacts"]["is_accepting_new_registrations"] %}
                                <div class="govuk-accordion__section">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading" >
                                            <span class="govuk-accordion__section-button" id="h-{{ region['id'] }}-{{ hid }}">
                                                {{ hospital["title"] }}
                                            </span>
                                        </h2>
                                    </div>
                                    <div id="r-{{ region['id'] }}-content-{{ hid }}" class="govuk-accordion__section-content" aria-labelledby="h-{{ region['id'] }}-{{ hid }}">
                                        {% if hospital["contacts"] %}
                                            {% if hospital["contacts"]["substitutes_link"] %}
                                                Informácie o zozname náhradníkov nájdete na: <a href="{{ hospital["contacts"]["substitutes_link"] }}" rel="noopener" target="_blank" class="govuk-link">{{ hospital["contacts"]["substitutes_link"] }}</a>.<br/>
                                            {% endif %}
                                            {% if hospital["contacts"]["substitutes_emails"] %}
                                                <b>Email:</b> {% for email in hospital["contacts"]["substitutes_emails"] %}<a href="mailto:{{ email }}" class="govuk-link">{{ email }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                                                <br/>
                                            {% endif %}
                                            {% if hospital["contacts"]["substitutes_phones"] %}
                                                <b>Telefonický kontakt:</b> {% for phone in hospital["contacts"]["substitutes_phones"] %}<a href="tel:{{ phone }}" class="govuk-link">{{ phone }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                                                {% if hospital["contacts"]["substitutes_note"] %}, {{ hospital["contacts"]["substitutes_note"] }}{% endif %}
                                                <br/>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% set hid = hid + 1 %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
