{% extends "base.html.jinja2" %}
{% from "utils.html.jinja2" import render_alerts, render_bad_browser %}
{% block head %}
    {{ super() }}
    <meta property="og:title" content="Notifikácie o COVID-19 vakcinácii"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ url_for('static', filename='img/virus.svg', _external=True) }}"/>
    <meta property="og:image:alt" content="Obrázok vírusu"/>
    <meta property="og:url" content="{{ url_for('main.spot_subscribe') }}"/>
    <meta property="og:locale" content="sk_SK"/>
    <meta property="og:description" content="Táto stránka poskytuje upozornenia o momente otvorenia očkovacieho formuláru pre nové skupiny obyvateľov."/>
    <script src="https://hcaptcha.com/1/api.js?hl=sk" async defer></script>
{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl"><i class="fas fa-users fa-fw"></i> Upozornenia o novej skupine</h1>
                <p class="govuk-body-lead">
                    Chcem dostávať upozornenia o otvorení očkovania pre novú skupinu ľudí.
                </p>
            </div>
        </div>
    </div>
    {{ render_alerts(get_alerts()) }}
    {{ render_bad_browser(get_bad_browser()) }}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div>
                    <form id="group-form" action="{{ url_for('main.group_subscribe') }}" method="post">
                        {{ form.csrf_token }}

                        <div class="govuk-grid-row govuk-!-margin-top-6">
                            <div class="govuk-grid-column-one-half" {% if not config['EMAIL_ENABLED'] %}style="color: #909090"{% endif %}>
                                <h2 class="govuk-heading-l" {% if not config['EMAIL_ENABLED'] %}style="color: #909090"{% endif %}><i class="fas fa-envelope"></i> Email notifikácie</h2>
                                {% if not config['EMAIL_ENABLED'] %}
                                    <div class="govuk-warning-text">
                                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                        <strong class="govuk-warning-text__text">
                                            <span class="govuk-warning-text__assistive">Upozornenie</span>
                                            Emailové notifikácie ešte nie sú v prevádzke.
                                        </strong>
                                    </div>
                                {% endif %}
                                <p class="govuk-body" {% if not config['EMAIL_ENABLED'] %}style="color: #909090"{% endif %}>
                                    Emailové upozornenia budete dostávať vždy pri otvorení novej skupiny na očkovanie.
                                    Upozornenia vám nebudú chodiť častejšie ako raz za {{ format_timedelta(config["GROUP_NOTIFICATION_BACKOFF"]) }}.
                                </p>
                                <div class="govuk-form-group {% if "email" in form.errors %}govuk-form-group--error{% endif %}">
                                    <label for="email" class="govuk-label" {% if not config['EMAIL_ENABLED'] %}style="color: #909090"{% endif %}>Email</label>
                                    {% for err in form.errors["email"] %}
                                        <p class="govuk-error-message">{{ err }}</p>
                                    {% endfor %}
                                    {{ form.email(class_="govuk-input") }}
                                    <div class="govuk-hint">Na tento email Vám budú chodiť upozornenia.</div>
                                </div>
                                <input id="email-submit" type="submit"
                                       class="govuk-button {% if not config['EMAIL_ENABLED'] %}govuk-button--disabled{% endif %}" value="Chcem notifikácie na email"
                                       {% if not config['EMAIL_ENABLED'] %}disabled{% endif %}/>
                            </div>
                            <div class="govuk-grid-column-one-half" {% if not config['PUSH_ENABLED'] %}style="color: #909090"{% endif %}>
                                <h2 class="govuk-heading-l" {% if not config['PUSH_ENABLED'] %}style="color: #909090"{% endif %}><i class="fas fa-bell"></i> PUSH notifikácie</h2>
                                {% if not config['PUSH_ENABLED'] %}
                                    <div class="govuk-warning-text">
                                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                        <strong class="govuk-warning-text__text">
                                            <span class="govuk-warning-text__assistive">Upozornenie</span>
                                            PUSH notifikácie nie sú v prevádzke.
                                        </strong>
                                    </div>
                                {% endif %}
                                <p class="govuk-body" {% if not config['PUSH_ENABLED'] %}style="color: #909090"{% endif %}>
                                    Push notifikácie sú upozornenia, ktoré sa zobrazia priamo na vašom mobilnom zariadení či počítači.
                                    Pri použití push notifikácii nie je potrebný email.
                                </p>
                                {{ form.push_sub() }}
                                <p id="push-unsupported" style="display: none"><i class="fas fa-exclamation-triangle"></i> Váš prehliadač nepodporuje PUSH notifikácie.</p>
                                <div class="govuk-form-group">
                                    <input id="push-submit" type="submit" class="govuk-button {% if not config['PUSH_ENABLED'] %}govuk-button--disabled{% endif %}" value="Chcem PUSH notifikácie" {% if not config['PUSH_ENABLED'] %}disabled{% endif %}/>
                                    <input id="push-unsubscribe" style="display: none" type="submit" class="govuk-button govuk-button--warning" value="Zrušiť PUSH notifikácie"/>
                                </div>
                            </div>
                        </div>
                        <div id="hcaptcha" class="h-captcha" data-sitekey="{{ config["HCAPTCHA_SITEKEY"] }}" data-callback="onSubmit" data-size="invisible"></div>
                    </form>
                    <script type="text/javascript" src="{{ url_for('static', filename='push.dummy.js') }}?{{ get_release() }}"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='push.js') }}?{{ get_release() }}"></script>
                    <script type="text/javascript">
                        if (!("serviceWorker" in navigator) || !("Notification" in window) || noPush) {
                            $("#push-submit").attr("disabled", "disabled").addClass("govuk-button--disabled");
                            $("#push-unsubscribe").attr("disabled", "disabled").addClass("govuk-button--disabled");
                            $("#push-unsupported").show();
                        }

                        function onSubmit(token) {
                            document.getElementById('group-form').submit();
                        }

                        function onEmail(event) {
                            let elem = $("#email");
                            let h5elem = elem.get()[0]
                            elem.attr('required','required');
                            $("#push_sub").attr("required", null);
                            if (h5elem.validity.valid) {
                                hcaptcha.execute();
                                event.preventDefault();
                                event.stopPropagation()
                            }
                        }
                        $("#email-submit").click(onEmail);
                        $("#push-submit").click(onPush);

                        sendMessage({
                            action: "getSubscription"
                        }).then(function (data) {
                            if (data.groupSubscription) {
                                $("#push-submit").hide();
                                $("#push-unsubscribe").click(function (event) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                    let unsubLink = data.groupUnsubscribe;
                                    data.groupSubscription = false;
                                    data.groupUnsubscribe = null;
                                    sendMessage({
                                        action: "setSubscription",
                                        sub: data
                                    }).then(function () {
                                        window.location = unsubLink + "?push&embed";
                                    })
                                });
                                $("#push-unsubscribe").show();
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-top-4" id="groups-list">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l"><i class="fas fa-users fa-fw"></i> Momentálne otvorené skupiny na očkovanie</h2>
                <p class="govuk-body">
                    Nasledujúci zoznam obsahuje momentálne otvorené skupiny na očkovanie v hlavnom očkovaciom fomulári,
                    a neobsahuje iné otvorené skupiny v špeciálnych formulároch.<br/>
                    <b>Posledná aktualizácia</b>: {{ last_stats.datetime.strftime("%d.%m.%Y %H:%M") }}<br/>
                </p>

                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    {% for group in groups %}
                        <li>{{ group.item_description }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}