{% macro render_alerts(alerts) %}
    {% if alerts %}
        <div class="govuk-!-margin-bottom-5">
            {% for alert in alerts %}
                <div class="app-pane-{{ alert['class'] }}">
                    <div class="govuk-width-container govuk-!-padding-top-3">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <p class="govuk-body"><i class="fas fa-{{ alert['icon'] }}"></i> {{ alert['text']|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_bad_browser(bad_browser) %}
    {% if bad_browser %}
        <div class="app-pane-red">
            <div class="govuk-width-container govuk-!-padding-top-3">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <i class="fas fa-exclamation-triangle"></i> {{ bad_browser }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

