<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

{% if type == "group" %}
    <p>
    Pre odber notifikácii o otvorení očkovania pre nové skupiny kliknite na link nižšie alebo ho skopírujte
    do svojho webového prehliadača.
    </p>
    <a href="{{ url_for('main.group_confirm', secret=secret) }}" target="_blank">{{ url_for('main.group_confirm', secret=secret) }}</a>
{% elif type == "spot" %}
    <p>
    Pre odber notifikácii o voľných miestach na očkovanie vo vami vybraných miestach kliknite na link nižšie alebo ho skopírujte
    do svojho weboveho prehliadača.
    </p>
    <a href="{{ url_for('main.spot_confirm', secret=secret) }}" target="_blank">{{ url_for('main.spot_confirm', secret=secret) }}</a>
{% endif %}

<p>
    Ak ste o odber notifikácii nežiadali alebo ich dostávať nechcete, nemusíte urobiť nič a ďalšie emaily vám už nebudú chodiť.
    Ak odber potvrdíte, no rozhodnete sa že ho nechcete, môžete ho zrušiť kliknutím na tento link:
    {% if type == "group" %}
        <a href="{{ url_for('main.group_unsubscribe', secret=secret) }}" target="_blank">{{ url_for('main.group_unsubscribe', secret=secret) }}</a>
    {% elif type == "spot" %}
        <a href="{{ url_for('main.spot_unsubscribe', secret=secret) }}" target="_blank">{{ url_for('main.spot_unsubscribe', secret=secret) }}</a>
    {% endif %}
</p>

</body>
</html>