<html>
<body>

<p>
    Vo <a href="https://www.old.korona.gov.sk/covid-19-vaccination-form.php" target="_blank">formulári na registráciu na
    očkovanie</a>
    {% if new_groups|length > 1 %}
        pribudli nové skupiny
    {% else %}
        pribudla nová skupina
    {% endif %}
    ľudí na očkovanie:
</p>
<ul>
    {% for group in new_groups %}
        <li>{{ group }}</li>
    {% endfor %}
</ul>

<p>Ak už nechcete dostávať notifikačné emaily, kliknite na link nižšie alebo ho skopírujte do svojho webového prehliadača.</p>
<a href="{{ url_for('main.group_unsubscribe', secret=secret) }}" target="_blank">{{ url_for('main.group_unsubscribe', secret=secret) }}</a>
</body>
</html>